Node-RED flow - 2004LCD with 4 sensors.json
[{"id":"8770f24b.dbe58","type":"tab","label":"2004LCD","disabled":false,"info":""},{"id":"6bfebd9e.ef5a84","type":"mqtt in","z":"8770f24b.dbe58","name":"sensor.ms1_BME280_temperature_C","topic":"homeassistant/sensor/ms1_BME280/temperature_C","qos":"2","datatype":"auto","broker":"b77f3eb3.87079","x":190,"y":80,"wires":[["62c61253.e0875c"]]},{"id":"9fd2587b.8dd308","type":"mqtt in","z":"8770f24b.dbe58","name":"sensor.ms1_BME280_humidity","topic":"homeassistant/sensor/ms1_BME280/humidity","qos":"2","datatype":"auto","broker":"b77f3eb3.87079","x":170,"y":160,"wires":[["9a9d710c.1c5c9"]]},{"id":"3cc6c0dc.0048f","type":"mqtt in","z":"8770f24b.dbe58","name":"sensor.ms1_MH-Z19B_CO2","topic":"homeassistant/sensor/ms1_MH-Z19B/CO2","qos":"2","datatype":"auto","broker":"b77f3eb3.87079","x":160,"y":320,"wires":[["279dd2a.ae23c2e"]]},{"id":"aa249bcc.884438","type":"mqtt in","z":"8770f24b.dbe58","name":"sensor.ms1_BME280_pressure_hPa","topic":"homeassistant/sensor/ms1_BME280/pressure_hPa","qos":"2","datatype":"auto","broker":"b77f3eb3.87079","x":180,"y":240,"wires":[["e414fe38.bbadd"]]},{"id":"c6e4de97.5b90d","type":"switch","z":"8770f24b.dbe58","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":390,"y":380,"wires":[["b10441f8.4d8da"]]},{"id":"b10441f8.4d8da","type":"function","z":"8770f24b.dbe58","name":"","func":"msg.payload = true\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":380,"wires":[["80449022.03083"]]},{"id":"93872f2a.af949","type":"debug","z":"8770f24b.dbe58","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"complete","targetType":"msg","statusVal":"complete","statusType":"auto","x":940,"y":380,"wires":[]},{"id":"80449022.03083","type":"change","z":"8770f24b.dbe58","name":"move msg.complete","rules":[{"t":"move","p":"payload","pt":"msg","to":"complete","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":380,"wires":[["93872f2a.af949","968cb83f.f888b8"]]},{"id":"279dd2a.ae23c2e","type":"function","z":"8770f24b.dbe58","name":"msg.payload.CO2","func":"var msgCO2 = Number(msg.payload);\n\nmsg.payload={\n    \"CO2\": String(msgCO2)\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":320,"wires":[["968cb83f.f888b8","c6e4de97.5b90d"]]},{"id":"62c61253.e0875c","type":"function","z":"8770f24b.dbe58","name":"msg.payload.temperature_C","func":"var msgtemperature_C = Number(msg.payload);\n\nmsg.payload={\n    \"temperature_C\": String(msgtemperature_C)\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":80,"wires":[["968cb83f.f888b8"]]},{"id":"9a9d710c.1c5c9","type":"function","z":"8770f24b.dbe58","name":"msg.payload.humidity","func":"var msghumidity = Number(msg.payload);\n\nmsg.payload={\n    \"humidity\": String(msghumidity)\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":160,"wires":[["968cb83f.f888b8"]]},{"id":"e414fe38.bbadd","type":"function","z":"8770f24b.dbe58","name":"msg.payload.pressure_hPa","func":"var msgpressure_hPa = Number(msg.payload);\n\nmsg.payload={\n    \"pressure_hPa\": String(msgpressure_hPa)\n\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":240,"wires":[["968cb83f.f888b8"]]},{"id":"65e6df8c.5f49a","type":"debug","z":"8770f24b.dbe58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":160,"wires":[]},{"id":"7c4db564.6c120c","type":"debug","z":"8770f24b.dbe58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":160,"wires":[]},{"id":"968cb83f.f888b8","type":"join","z":"8770f24b.dbe58","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"60","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":240,"wires":[["65e6df8c.5f49a","2ae808e0.d7ff38"]]},{"id":"2ae808e0.d7ff38","type":"function","z":"8770f24b.dbe58","name":"Message","func":"var Hum = msg.payload[0]\nvar Press = msg.payload[1]\nvar Temp = msg.payload[2]\nvar CO2ppm = msg.payload[3]\n\nvar humidity = Hum.humidity\nvar pressure_hPa = Press.pressure_hPa\nvar temperature_C = Temp.temperature_C\nvar CO2 = CO2ppm.CO2\n\nvar sString01 = (\"Temp.: \" + temperature_C + \"C\");\nvar sString02 = (\"LV:    \" + humidity + \"%\");\nvar sString03 = (\"hPa:   \" + pressure_hPa + \"hPa\");\nvar sString04 = (\"CO2:   \" + CO2 + \"ppm\");\nvar iPos01 = 1;\nvar iPos02 = 2;\nvar iPos03 = 3;\nvar iPos04 = 4;\nvar bCenter01 = false;\nvar bCenter02 = false;\nvar bCenter03 = false;\nvar bCenter04 = false;\n\nmsg.payload = {\n\tmsgs:[\n\t\t{\n\t\t\tmsg:sString01,\n\t\t\tpos:iPos01,\n \t\t    center:bCenter01\n\t\t},\n\t\t{\n\t\t\tmsg:sString02,\n\t\t\tpos:iPos02,\n\t\t\tcenter:bCenter02\n\t\t},\n\t\t{\n\t\t\tmsg:sString03,\n\t\t\tpos:iPos03,\n\t\t\tcenter:bCenter03\n\t\t},\n\t\t{\n\t\t\tmsg:sString04,\n\t\t\tpos:iPos04,\n\t\t\tcenter:bCenter04\n\t\t}\n\t]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":940,"y":240,"wires":[["7c4db564.6c120c","62e4b9e2.83e138"]]},{"id":"62e4b9e2.83e138","type":"LCD20x4-I2C","z":"8770f24b.dbe58","name":"LCD2004","speed":"3","size":"20x4","address":"0x3F","x":1160,"y":240,"wires":[]},{"id":"b77f3eb3.87079","type":"mqtt-broker","name":"Home Assistant Musquito","broker":"192.168.2.190","port":"1883","clientid":"HAClient","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]